---
title: 使用 EJS 编写的文章
date: 2024-10-04
tags:
- EJS
- Hexo
---
<i class="iconfont icon-github-fill" aria-hidden="true"></i>

<button class="btn" id="btn_click_me">点击</button>


<script>
  console.log('Hello, World!');
  jQuery('#btn_click_me').click(function () {
    alert('Hello, World!');
  });
</script>